.card-container{

  width: 300px;
  height: 540px;
  background-color: #4c4654;
  border-radius: 16px;
  border: #a296c9 6px solid ;
  position: relative;

}
.card-container::after{
  content: ""; /* Necesario para que el pseudo-elemento se muestre */
  width: 306px; /* Igual tama침o que el contenedor original */
  height: 546px;
  background-color: #ff6b6b; /* Cambia a otro color para diferenciarlo */
  border-radius: 20px;
  border:#857aa2 7px solid;
  box-shadow: #000 1px 0px 1px 2px;
  position: absolute; /* Para permitir la superposici칩n y posicionamiento */
  top: -10px;
  left: -10px; /* Colocar el pseudo-elemento a la derecha del contenedor original */
  z-index: -1; 
}
.card-container::before{
  content: ""; /* Necesario para que el pseudo-elemento se muestre */
  width: 298px; /* Igual tama침o que el contenedor original */
  height: 536px;
  
  border-radius: 12px;
  border:#090909 2px solid;
  
  position: absolute; /* Para permitir la superposici칩n y posicionamiento */
  /* top: -10px; */
  /* left: -10px; Colocar el pseudo-elemento a la derecha del contenedor original */
  z-index: 10; 
}

.attributes{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: -10px;
}
.info-of-eternity{
  font-size: 24px;
  width: 30000px;
  display: inline;
}
.Attack-container{
  display: flex;
  justify-content: space-between;
}
.velocity-Attack{
  color: #77a6aa;
}
.info-container{
  width: 280px;
  height: 450px;
  background-color: #292433;
  margin:8px auto;
  padding: 0 4px;
}

.boton-container{

  display: flex;
  justify-content: space-evenly;
 
}
.buttom{
  width: 130px;
  height: 50px;
  border: #000 3px solid;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}
.btn-Reincorce{
  background-color: #695a9d;
}
.btn-Ascension{
  background-color: #c77c40;
}
.inf-wapon{
  width: 100%;
  p{
  
    color: #8b7f48;
    width:130px;
    margin: 10px 0;
  
}
}
.Skill-EXP{
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.EXP-bar{
  width: 140px;
  border-radius: 4px;
  border: #504a67 2px solid;
  display: flex;
  
  justify-content: center;
  
  height: 16px;
  position: relative;
  right: 10px;
  background-color: #000;
}

 #imagen{
  img{
    width: 100%;
    height: 100%;
  }
  width: 100px;
  height: 100px;
  background-color: #000;
  border: #8b7f48 2px solid ;
  border-radius: 8px;
}
.Skill-info{
  color: #708966;
}

.aarondivider{
 margin: 20px 0 0 ;
  display: flex;
  gap: 10px;
}
